#include <zephyr/dt-bindings/pwm/pwm.h>

/{
   
    motor:motor{
        compatible = "cruise,motor";
        pwms = <&mcpwm0 0 0 PWM_POLARITY_NORMAL>,
		       <&mcpwm0 6 0 PWM_POLARITY_NORMAL>,
               <&mcpwm0 7 0 PWM_POLARITY_NORMAL>;
    };
    
    aliases {
		qdec0 = &pcnt;
	};


};

&pinctrl {
    mcpwm0_default: mcpwm0_default {
        group1 {
            pinmux = <MCPWM0_OUT0A_GPIO2>;
            input-enable;
        };
        group2 {
            pinmux = <MCPWM0_CAP0_GPIO14>;
            output-enable;

        };
        group3 {
            pinmux = <MCPWM0_CAP1_GPIO15>;
            output-enable;
        };
    };
};


&mcpwm0 {
    pinctrl-0 = <&mcpwm0_default>;
    pinctrl-names = "default";
    prescale = <7>;
    prescale-timer0 = <99>;
    status = "okay";
};

&pinctrl {
    pcnt_default: pcnt_default {
        group1 {
            pinmux = <PCNT0_CH0SIG_GPIO14>,
                    <PCNT0_CH0CTRL_GPIO15>;
            bias-pull-up;
        };
    };
};

&pcnt {
    pinctrl-0 = <&pcnt_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    unit0@0 {
      reg = <0>;
      #address-cells = <1>;
      #size-cells = <0>;
      filter = <100>;
      channelA@0 {
          reg = <0>;
          sig-pos-mode = <2>;
          sig-neg-mode = <1>;
          ctrl-h-mode = <0>;
          ctrl-l-mode = <1>;
      };
    };
};